@import "reset.css";

@font-face {
    font-family: SansSerif; /*这里是说明调用来的字体名字*/
    src: url('../../../static/font/SansSerif.ttf'); /*这里是字体文件路径*/
  }
/*css为clearfix，清除浮动*/
.clearfix::before,
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1; /*IE/7/6*/
}
/*圆角*/
.br10 {
  border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -khtml-border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
}
.br28 {
  border-radius: 0.28rem;
  -moz-border-radius: 0.28rem;
  -khtml-border-radius: 0.28rem;
  -webkit-border-radius: 0.28rem;
}
/*下划线*/
.borLine{
  border-bottom: 1px solid #ddd;
}
/*字体大小*/
.font24{
  font-size: 0.24rem;
}
.font26{
  font-size: 0.26rem;
}
.font28{
  font-size: 0.28rem;
}
.font30{
  font-size: 0.30rem;
}
.font25{
  font-size: 0.25rem;
}
.font32{
  font-size: 0.32rem;
}
.font23{
  font-size: 0.23rem;
}
/*字体颜色*/
.color333{
  color: #333;
}
.color666{
  color: #666;
}
.colorff970f{
  color: #ff970f;
}
.colorfff{
  color: #fff;
}
.colorffa626{
  color:#ffa626;
}
.color2597c7{
  color: #2597c7;
}
/*首行缩进2字符*/
.textIndent{
  text-indent: 2em;
}
/*右对齐*/
.justify {
  text-align: justify;
}
/*文字水平居中*/
.text_center{
  text-align: center;
}
