@import "./color.less";
.home{
    background-color: #f8f8f8;
    padding-bottom: 1.5rem;
}
/* 轮播 */
.swiper{
    width: 100%;
    height: 3.54rem;
}
/* 导航 */
.nav{
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid @colore5;
    li{
        margin-top: 0.3rem;
        flex: 1;
        padding-bottom: .4rem;
        text-align: center;
        font-size: .24rem;
        img{
            display: block;
            margin: auto;
            width: 1rem;
        }
        span{
            display: block;
            margin-top: .2rem;
        }
        span:first-child{
            color: #333333;
        }
        span:last-child{
            color: @color47;
            font-size: .2rem;
            margin-top: 0.1rem;
            line-height: .4rem;
            b{
                font-size: .38rem;
            }
        }
    }
}
/* 公告 */
.news{
    height: 1.1rem;
    background-color: #fff;
    .shuxian{
        height: .66rem;
        margin-top: 0.22rem;
        float: left;
        border-left: 1px solid @colore5;
    }
    .news_img{
        float: left;
        width: 1.07rem;
        line-height: 1.1rem;
        text-align: center;
        img{
            height: .66rem;
            width: auto;
        }
    }
    .news_content{
        float: left;
        margin-left: 0.2rem;
        margin-top: 0.08rem;
        ul{
            margin-top: 0.08rem;
            li{
                line-height: 0.4rem;
                font-size: 0.24rem;
                img{
                    width: 0.1rem;
                    margin-top: -0.07rem;
                    a:active{
                        text-decoration:none
                    }
                }
            }
        }
    }
}
/* 专区 */
.area_title{
    height: 1rem;
    line-height: 1rem;
    margin-top: 0.2rem;
    background-color: #fff;
    border-bottom: 1px solid @colore5;
    .area_title_img{
        width: 4.5rem;
    }
    span{
        float: right;
        font-size: 0.24rem;
        color: #999999;
        img{
            width: 0.15rem;
            height: auto;
            margin-top: -0.05rem;
            margin-left: 0.1rem;
            margin-right: 0.3rem;
        }
    }
    a:hover{
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-user-select: none;
        -moz-user-focus: none;
        -moz-user-select: none;
        text-decoration: none
    }
  }
.tty_area,
.yyy_area
{
  background-color: #fff;
  a:hover{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    text-decoration: none
}
  ul{
        li:first-child{
            font-size: 0.28rem;
            color: #333333;
            margin-top: 0.2rem;
        }
        li:nth-child(2){
            display: flex;
            span{
                flex: 1;
                text-align: center;
                font-size: 0.28rem;
                margin-top: 0.52rem;
                color: #666666;
                b{
                    font-size: 0.4rem;
                    color: #333333
                }
            }
            span:first-child{
                color: @color47;
                margin-top: .24rem;
                font-size: 0.34rem;
                b{
                    font-size: 0.94rem;
                    color: @color47
                }
            }
        }
        li:nth-child(3){
            display: flex;
            span{
                flex: 1;
                text-align: center;
                font-size: 0.26rem;
                font-weight: 500;
                color: #999999
            }
            span:first-child{
                font-size: 0.24rem;
                line-height: 0.35rem;
            }
        }
        li:nth-child(4){
            margin-top: 0.24rem;
            span:first-child{
                float: left;
                margin-top: 0.16rem;
                width: 6rem;
                height: 0.05rem;
                background-color: @colore8;
                border-radius: 10px;
                s{
                    float: left;
                    width: 50%;
                    height: 100%;
                    border-radius: 10px;
                    background-color: @color47;
                }
            }
            span:last-child{
                float: right;
                color: #999999;
                font-size: 0.24rem;
                line-height: 0.4rem;
            }
        }
        li:nth-child(5){
            clear: both;
            padding-top: 0.1rem;
            padding-bottom: 0.3rem;
            a{
                display: block;
                color: #fff;
                font-size: 0.3rem;
                width: 5.4rem;
                height: .7rem;
                line-height: .7rem;
                border-radius: 1rem;
                background-color: @color47;
                text-align: center;
                margin: auto;
            }
            a:hover{
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                -webkit-user-select: none;
                -moz-user-focus: none;
                -moz-user-select: none;
                text-decoration: none;
            }
            a:active{
                background-color: #de2626;
            }
        }
  }
}
.tty_area ul{
    padding-left: 0.3rem;
    padding-right: 0.4rem;
  }
.yyy_area ul{
    padding-left: 0.3rem;
    padding-right: 0.4rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid @colore5;
}
/* 安全保障 */
.insurance{
    background-color: #fff;
    width: 7.2rem;
    height: 2.6rem;
    margin: auto;
    margin-top: 0.2rem;
    border-radius: .12rem;
    border: 1px solid @colore0;
    box-sizing: border-box;
    h1{
        text-align: center;
        color: @color47;
        height: 0.8rem;
        line-height: 0.85rem;
        font-size: 0.35rem;
        img{
            width: 95%;
        }
    }
    ul{
        display: flex;
        a{
            flex:1;
            li{
                text-align: center;
                img{
                    display: block;
                    margin: auto;
                    width: 1rem;
                }
                span{
                    margin-top: 0.2rem;
                    font-size: 0.26rem;
                    color: #666666;
                    display: block;
                }
            }
        }
        a:hover{
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-user-select: none;
            -moz-user-focus: none;
            -moz-user-select: none;
            text-decoration: none;
        }
    }
}
/* 底部 */
.bottom{
    display: flex;
    position: fixed;
    z-index: 100;
    bottom: 0;
    margin: auto;
    width: 7.5rem;
    height: 1rem;
    max-height: 80px;
    background-color: #fff;
    border-top: 1px solid @colore5;
    li{
        flex: 1;
        text-align: center;
        color: #666666;
        span:first-child{
            display: block;
            font-size: 0.5rem;
            margin-top: 0.06rem;
            img{
                height: 0.45rem;
            }
        }
        span:last-child{
            display: block;
            font-size: 0.24rem;
            margin-top: 0.06rem;
        }
        a:hover{
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-user-select: none;
            -moz-user-focus: none;
            -moz-user-select: none;
            text-decoration: none;
        }
    }
    li.on a{
        color: @color47
    }
}
