@import "./color.less";
.home{
    background-color: #f8f8f8;
    padding-bottom: 1.5rem;
}
/* 轮播 */
.swiper{
    width: 100%;
    height: 3.54rem;
}
/* 导航 */
.nav{
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid @colore5;
    li{
        margin-top: 0.3rem;
        flex: 1;
        padding-bottom: .2rem;
        text-align: center;
        font-size: .24rem;
        img{
            display: block;
            margin: auto;
            width: 1rem;
        }
        span{
            display: block;
            margin-top: .1rem;
            font-weight:bold;
        }
        span:first-child{
            color: #333333;
        }
        span:last-child{
            color: @color47;
            font-size: .2rem;
            margin-top: 0.1rem;
            line-height: .4rem;
            b{
                font-size: .38rem;
                font-weight: 500;
            }
        }
    }
}
/* 公告 */
.news{
    height: 1.1rem;
    background-color: #fff;
    border-bottom: 1px solid @colore5;
    .shuxian{
        height: .66rem;
        margin-top: 0.22rem;
        float: left;
        border-left: 1px solid @colore5;
    }
    .news_img{
        float: left;
        width: 1.07rem;
        line-height: 1.1rem;
        text-align: center;
        img{
            height: .66rem;
            width: auto;
        }
    }
    .news_content{
        float: left;
        margin-left: 0.2rem;
        margin-top: 0.08rem;
        ul{
            margin-top: 0.17rem;
            li{
                line-height: 0.3rem;
                font-size: 0.24rem;
                img{
                    width: 0.1rem;
                    margin-top: -0.2rem;
                }
                span{
                    width: 5.7rem;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
            }
            a{
                color: #333333;
            }
            a:hover{
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                -webkit-user-select: none;
                -moz-user-focus: none;
                -moz-user-select: none;  
                text-decoration: none;
            }
        }
    }
}

/* 安全保障 */
.insurance{
    background-color: #fff;
    width: 7.2rem;
    height: 2.6rem;
    margin: auto;
    margin-top: 0.2rem;
    border-radius: .12rem;
    border: 1px solid @colore0;
    box-sizing: border-box;
    h1{
        text-align: center;
        color: @color47;
        height: 0.8rem;
        line-height: 0.85rem;
        font-size: 0.35rem;
        img{
            width: 95%;
        }
    }
    ul{
        display: flex;
        a{
            flex:1;
            li{
                text-align: center;
                img{
                    display: block;
                    margin: auto;
                    width: 1rem;
                }
                span{
                    margin-top: 0.2rem;
                    font-size: 0.26rem;
                    color: #666666;
                    display: block;
                }
            }
        }
        a:hover{
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            -webkit-user-select: none;
            -moz-user-focus: none;
            -moz-user-select: none;
            text-decoration: none;
        }
    }
}
