table{
  border-collapse: collapse;
  border-spacing: 0;
}
.container{
  font-size: 0.26rem;
  color: #333;
  .loanNoContainer{
    padding:0 0.15rem;
    h1{
      font-size: 0.34rem;
      font-weight: 700;
      text-align: center;
    }
    .fontP{
      font-size: 0.24rem;
      color: #666;
    }
    .num_list{
      font-size: 0.28rem;
      font-weight: 700;
    }
    .tableP{
      width: 100%;
      text-align: center;
      span{
        display: inline-block;
        padding:0.2rem 0;
        border: 0.05px solid #5a5a5a;
        border-bottom: 0;
      }
      span:first-child{
        font-weight: 700;
        border-right:0 ;
      }
    }
    .fontt{
      display: inline-block;
      width: 100%;
    }
  }
  .loanHerd{
    width: 100%;
    height: 0.9rem;
    ul{
      margin:0 1rem;
      border-bottom: 1px solid #e4e4e4;
      li{
        width: 1.7rem;
        height: 0.9rem;
        line-height: 0.9rem;
        text-align: center;
      }
      li.active{
        border-bottom: 0.06rem solid #fb4747;
        width: 1.7rem;
        color: #fb4747;
      }
    }
  }
}
